.PageWrapper {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Title {
    z-index: 9999;
    font-size: 5000;
    font-weight: bolder;
}

.react-logo {
    display: inline-block;
    border-radius: 50%;
    border: 10px solid #00d8ff;

    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.react-logo,
.react-logo:before,
.react-logo:after {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid #00d8ff;
}

.nucleo,
.react-logo,
.react-logo:before,
.react-logo:after {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nucleo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #00d8ff;
}

.react-logo:before,
.react-logo:after {
    content: '';
}

.react-logo:after {
    transform: rotate(-57deg);
}

.react-logo:before {
    transform: rotate(57deg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-logo {
    animation: App-logo-spin infinite 1s linear;
    height: 80px;
}
