.Question {
    background-color: #282c34;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.QuestionBox {
    height: 60vh;
    width: 80vw;
    background-color: rgba(50, 50, 150, 0.1);
    margin: 10vh auto;
    animation: slideIn 2s ease-in-out;
}

.SlideTransition {
    animation: slide 2s forwards;
}

.slideIn {
    animation: slideIn 3s forwards;
}

.BounceIn {
    animation: bounceIn 1.5s ease-in-out;
}

@keyframes slide {
    0% {
        margin-left: 10vw;
    }
    50% {
        margin-left: -100vw;
        opacity: 0;
    }
    51% {
        margin-left: 100vw;
        opacity: 1;
    }
    100% {
        margin-left: 10vw;
    }
}

@keyframes slideOut {
    0% {
        margin-left: 10vw;
    }
    100% {
        margin-left: 100vw;
    }
}

@keyframes slideIn {
    0% {
        margin-left: 100vw;
    }
    100% {
        margin-left: 10vw;
    }
}

@keyframes bounceIn {
    0% {
        transform: translateY(-100vh);
    }
    30%,
    60%,
    80%,
    95%,
    100% {
        transform: translateY(0px);
    }
    45% {
        transform: translateY(-20vh);
    }
    70% {
        transform: translateY(-10vh);
    }
    90% {
        transform: translateY(-5vh);
    }
    92.5% {
        transform: translateY(-2.5vh);
    }
}
